<template>
    <div>
        <h1>Galería de Fotos</h1>

        <!-- Al crear rutas dinámicas es necesario utilizar :to=""
        dentro de to se crea la ruta paso a paso a partir del nombre de la ruta
        y del objeto de parametros -->
        <router-link 
        v-for="(item, index) of fotosArreglo" :key="index" 
        :to="{ name: 'Photos', params: { id: item}}">
            <button>Foto {{item}}</button>
        </router-link>

        <Photo />

        <button @click="anterior">Anterior</button>
        <button @click="home">Home</button>
        <button @click="siguiente">Siguiente</button>
    </div>
</template>

<script>
import Photo from '@/components/Photo.vue'

export default {
    name: 'Photos',
    components : {
        Photo
    },
    data() {
        return {
            fotosArreglo: [1,2,3]
        }
    },
    methods: {
        home() {
            //La función push de router modifica directamente la ruta de la aplicación
            this.$router.push('/')
        },
        anterior() {
            //La función go permite acceder al historial del router, recibe como valor el índice del historial
            this.$router.go(-1)
        },
        siguiente() {
            this.$router.go(1)
        }
    }
}
</script>