<template>
    <div>
        <!-- Para leer la variable desde la ruta se puede utilizar: -->
        <h2>Foto desde componente: {{ $route.params.id }}</h2>   
    </div>
</template>

<script>
export default {
    name: 'Photo'
}
</script>